@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null; // Or specify a layout if needed
}


<!-- Shop catalog-->
<div>
    <p><a asp-controller="Account" asp-action="Login">Login</a></p>
    <p><a asp-controller="Account" asp-action="Register">Register</a></p>
    <p><a asp-controller="Home" asp-action="Index">Home</a></p>
    <p>Shop catalog</p>
    <p>Welcome valued customer!</p>
</div>



